
@{
    ViewBag.Title = "WCF测试:";
}

<h2>@ViewBag.Title</h2>
<form action="/home/WCFTest" method="post">
    <input type="text" name="UserName" />
    <input type="submit" name="button" value="提交" />
</form>

<h3>@ViewBag.Message</h3>


